#gallery {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.gallery__item {
    display: inline-block;
}

.gallery__img {
    display: inline-block;
    margin: 0;
}

#validation-input {
    border: 3px solid #bdbdbd;
}

#validation-input.valid {
    border-color: #4caf50;
}

#validation-input.invalid {
    border-color: #f44336;
}